.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

.modal-backdrop {
  /* position: fixed; */
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0;
  -webkit-animation: fadeIn 300ms linear;
  animation: fadeIn 300ms linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  background: -webkit-gradient(
    linear,
    right top,
    left bottom,
    from(rgba(51, 51, 51, 0.474)),
    to(#5f5f5f80)
  );
  background: linear-gradient(
    to bottom left,
    rgb(51, 51, 51) 0%,
    #50505074 100%
  );
}

.modal-box {
  opacity: 0;
  -webkit-animation: middleAni 300ms linear;
  animation: middleAni 300ms linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 45%;
  width: 60%;
  max-width: 650px;
  min-width: 350px;
  background: rgba(56, 54, 54, 0.918);
  -webkit-box-shadow: 0 0 15px rgba(24, 24, 24, 0.25);
  box-shadow: 0 0 15px rgba(24, 24, 24, 0.25);
  border-radius: 10px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 5px solid rgba(56, 56, 56, 0.274);
}

.modal-box input {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  border: 2px solid rgba(71, 71, 71, 0.356);
  box-shadow: inset;
  padding-left: 10px;
  margin-top: 15px;
}

.modal-open {
  overflow: hidden;
}

.modalTitleContainer h2 {
  color: black;
}

.modalSubmitBtn {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  background-color: red;
  color: white;
  align-self: flex-end;
  margin-right: 30px;
  margin-top: 15px;
}

.modalSubmitBtn:hover, .modalCloseBtn:hover {
  background-color: rgb(255, 144, 144);
  transition: 250ms ease-in-out;
}

.modalCloseBtn {
  background-color: red;
  color: white;
  border-radius: 10px;
  margin-right: 50px;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 0.85;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 0.85;
  }
}

@-webkit-keyframes middleAni {
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@keyframes middleAni {
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
