/* style sheet for apply page */
.apply-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-underline {
  height: 3px;
  width: 100px;
  border-top: 2px solid rgb(255, 255, 255);
}

.apply-container h3 {
  font-size: 30px;
}

.apply-container p {
  font-size: 20px;
}

.apply-container ul,
li {
  font-size: 20px;
  padding: 10px;
}

.apply-page-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 15vh;
  background-color: red;
  color: white;
  padding: 25px;
  text-align: center;
}

.apply-title {
  width: 60%;
}

.apply-details-container {
  width: 60%;
  display: flex;
  justify-content: center;
}

.apply-details-container {
  display: flex;
  flex-direction: column;
}

.application-section-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.how-to-apply-list {
  width: 100%;
  padding-left: 30px !important;
}

.application-form {
  width: 60%;
  min-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap !important;
}

.first-form-app-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.second-app-section {
  width: 48%;
  min-width: 400px;
}

.application-form input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  border: none;
}

.application-form label {
  padding: 25px 0px 0px 0px;
}

.apply-button {
  height: 50px;
  border-radius: 10px;
  background-color: rgb(185, 28, 28);
  border: none;
  color: white;
  margin-bottom: 25px;
  width: 100%;
}

.apply-button:hover {
  background-color: rgba(219, 20, 20, 0.527);
  transition: 250ms ease-in-out;
}

.form-container-side-image {
  width: 20%;
  height: auto;
  border-radius: 10px;
}

.application-general-information-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 75px;
  background-color: rgb(207, 57, 57);
  color: white;
  padding: 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.application-upload-files-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(207, 57, 57);
  color: white;
  padding: 50px 50px 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.application-final-req-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(207, 57, 57);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.dui-check-box {
  display: flex;
  flex-direction: column;
}

.input-item-container {
  display: flex;
  min-width: 400px;
  max-width: 20%;
  justify-self: space-around;
  align-items: center;
}

.input-item-container input {
  height: 2em;
}

.upload-docs-p {
  font-size: 15.63px !important;
}

.credential-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: larger;
}

.credential-link {
  padding: 5px 0px 25px 0px;
}
