/* style sheet for home page */

/* max-width: 1440px;
margin: auto;
padding: 48px 80px;
min-height: 318px;
display: flex;
flex-direction: column;
-webkit-box-pack: center;
justify-content: center; */

#home-hero {
  width: 100vw;
  display: flex;
  height: 70vh;
  min-height: 70vh;
  background-image: url('../../public/images/car_bright_road.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: relative;
}

.hero-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero-heading-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.hero-heading {
  font-size: 3.25em;
  color: rgb(235, 235, 235);
}

.hero-sub-heading {
  width: 70%;
  position: relative;
  font-size: 1.5em;
  color: rgb(237, 237, 237) !important;
}

.hero-cta-button {
  margin-top: 50px;
  display: flex;
  height: 65px;
  width: 255px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(211, 42, 42);
  border: 2px solid rgba(128, 128, 128, 0.753);
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  border: none;
}

.hero-cta-button:hover {
  background-color: rgba(252, 95, 95, 0.555);
  transition: all 250ms ease-in-out;
}

.image-overlay {
  width: 100vw;
  height: 70vh;
  min-height: 70vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.418);
}

.home-about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  margin-bottom: 50px;
  padding: 15px;
  margin-top: 50px;
}

.home-about-section-h1 {
  margin: 0;
  padding: none;
  font-size: 2.5em;
}

.home-about-section button {
  height: 60px;
  width: 250px;
  background-color: red;
  color: white;
  border: 2px solid rgba(128, 128, 128, 0.808);
  border-radius: 10px;
  border: none;
}

.home-about-section button:hover {
  background-color: rgba(252, 95, 95, 0.555);
  transition: all 250ms ease-in-out;
}

#cards-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
}

.home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 50px solid white;
  flex-wrap: wrap;
  text-align: center;
  text-overflow: ellipsis;
  word-wrap: normal;
  padding: 15px;
  color: white;
}

.card1 {
  width: 30%;
  background-color: rgb(218, 62, 62);
}

.card2 {
  width: 30%;
  background-color: rgb(218, 62, 62);
}

.card3 {
  width: 30%;
  background-color: rgb(218, 62, 62);
}

#cards-section p,
#cards-section h2 {
  color: white;
  width: 75%;
}

.card-icon {
  height: 100px;
}

#request-a-ride-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 50px;
}

.request-a-ride-form-container {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 25px;
  flex-wrap: wrap;
  background-color: rgb(218, 62, 62);
  min-height: 850px;
}

.need-to-register {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 63px;
  border-radius: 10px;
  background-color: rgb(218, 62, 62);
  min-height: 850px;
}

#ride-form {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#ride-form input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px rgba(255, 54, 54, 0.966) inset;
  padding-left: 10px;
  margin-top: 15px;
}

.ride-form-right-inputs {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.ride-form-left-inputs {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ride-form-radio-container {
  display: flex;
  color: white;
  padding-bottom: 5px;
}

.ride-form-radio-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 1em;
}

.ride-form-label {
  font-size: 1em;
}

.ride-form-radio-option-container input[type='radio'] {
  border: 0px;
  width: 100%;
  height: 1.5em !important;
  box-shadow: none !important;
  margin-bottom: 15px;
}

.ride-form-radio-h3 {
  color: white;
}

.ride-request-button {
  height: 50px;
  width: 100%;
  border-radius: 50px;
  margin-top: 15px;
  float: right;
  border: 3px solid white;
  background-color: rgb(218, 62, 62);
  color: white;
}

.ride-request-button:hover {
  background-color: rgba(252, 95, 95, 0.555);
  transition: all 250ms ease-in-out;
}

#drive-with-fts {
  width: 100%;
  height: auto;
  background-image: url('../../public/images/nurse_pink_bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 25px 0px 0px 0px;
}

#drive-with-fts img {
  height: 100px;
  margin-top: -150px;
}

#drive-with-fts h1,
h3 {
  position: relative;
}

#drive-with-fts h1 {
  font-size: 40px;
}

#drive-with-fts h3 {
  font-size: 24px;
  text-align: center;
}

#drive-with-fts p {
  width: 80%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;
}

#drive-with-fts-img {
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

.drive-with-fts-overlay {
  position: absolute;
  width: 100%;
  height: 47%;
}

.bottom-overlay {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-overlay p {
  text-align: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

.home-apply-btn {
  min-width: 200px;
  max-width: 400px;
  height: 40px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  position: relative;
  color: white;
  float: right;
  margin-bottom: 125px;
}

.home-apply-btn:hover {
  background-color: rgba(241, 8, 8, 0.5);
  transition: 250ms ease-in-out;
  /* border: 2px solid rgb(41, 41, 41); */
}

.home-apply-btn:active {
  color: black;
  border: 3px solid rgb(110, 109, 109);
}

.drive-with-fts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home-image-break {
  height: 40vh;
  width: 100%;
  background-image: url('../../public/images/girl_looking_back_driving.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  position: relative;
}

.home-image-break-overlay {
  position: absolute;
  height: 40vh;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.363);
  float: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 100px;
}

.home-heading-underline {
  height: 3px;
  width: 100px;
  border-top: 2px solid rgb(255, 0, 0);
}
